*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    border: border-box;
}


.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo {
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon {
    display: flex;
    align-items: center;
}


/*navigation bar*/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:focus-within {
    border: 3px solid #febd68;
}
.nav-search .search-select:hover {
    background-color: #b0b0b0; 
}
.nav-search .search-icon:hover {
    background-color: #f7a700;  
}
.search-select {
    background-color: #e0e0e0;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-input:focus {
    border: none;
    outline: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}


.flag-icon {
    width: 20px;
    height: 15px;
    border: none;
    object-fit: cover;
}
.nav-language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    height: 40px;
    background-color: #0f1111;
    color: white;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
}
.nav-language:hover {
    background-color: #232f3e;
}
.lang-text {
    margin: 0;
    font-size: 0.9rem;
}


span {
    font-size: 0.7rem;
}
.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}


.nav-cart i {
    font-size: 23px;
}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}


/*panel bar*/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options {
    width: 92%;
    font-size: 0.85rem;
    
}
.panel-options a {
    color: white;
    display: inline;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 12px 8px;
    
}
.panel-options a:hover {
    border: 1px solid white;
    

}
.panel-options a:first-child {
    margin-left: 0;  /* Remove left margin on the first link */
}


/*background */
.bg-section {
    position: relative;
    height: 660vh; 
    overflow-y: hidden; 
    overflow: hidden;
    background-color: #e0e0e0;

}
.bg-slider {
    position: relative;
    height: 100%;
}
.bg-slider ul {
    display: flex; 
}
.bg-slider .img {
    max-width: 100%;
    mask-image: linear-gradient(to bottom,#000000 50%, transparent 100%);
    transform: scale(1.35);
    transform-origin: 51% 0.5%;
    height: auto;

}
.control-prev {
    position: absolute;
    z-index: 1;
    padding: 20vh 2.5vw;
    color: #0000007b;
    text-decoration: none;
    font-weight: 300;
    font-size: 50px;
    cursor: pointer;
    left: 0;
}
.control-next {
    position: absolute;
    z-index: 1;
    padding: 20vh 2.5vw;
    color: #0000007b;
    text-decoration: none;
    font-weight: 300;
    font-size: 50px;
    cursor: pointer;
    right: 0;
}


/*boxes row1*/
.products-1 {
    position: absolute; /* Ensures it's positioned above the background images */
    top: 7.3%; /* Adjust this to set the vertical position of the boxes */
    left: 0.1%; /* Adjust to position the boxes horizontally */
    right: 0.1%;
    width: auto; /* Makes the container take most of the viewport width */
    display: flex; /* For aligning multiple boxes in a row */
    justify-content: space-evenly; /* Distributes the boxes evenly */
    z-index: 2; /* Places the boxes above the background images */

}

.boxrow-1 {
    background-color: white; /* White background for the box */
    width: 30%; /* Each box takes up a third of the width in the row */
    height: 418px; /* Set the height of the box */
    padding: 20px; /* Adds inner spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxrow-1 h3 {
    margin-bottom: 8px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
}
/*box1*/
.box-1 {
    display: grid; /* Use grid for better layout control */
    grid-template-columns: repeat(2, 1fr); /* Two products per row */
    gap: 12px; /* Spacing between items */
    padding: 0 1px; /* Add padding to both left and right sides */
}

.box-1 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 18px;
}

.box-1 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 120px;
    object-fit: cover;
    margin-bottom: 2px;
}

.box-1 a {
    font-size: 0.75rem;
    color: #333;
    text-decoration: none;
}
.box-1 .link {
    grid-column: span 2; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
}
.box-1 .see-more {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
}

.see-more:hover {
    color: black;
}
/*box2*/
.box-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}
.box-2 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 305px;
    object-fit: cover;
    margin-bottom: 18px;
}
.box-2 .link {
    grid-column: span 2; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
}
.box-2 .shop-gaming {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
    text-decoration: none;
}

.shop-gaming:hover {
    color: black;
}
/*box3*/
.box-3 {
    display: grid; /* Use grid for better layout control */
    grid-template-columns: repeat(2, 1fr); /* Two products per row */
    gap: 12px; /* Spacing between items */
    padding: 0 1px; /* Add padding to both left and right sides */
}

.box-3 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 18px;
}

.box-3 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 120px;
    object-fit: cover;
    margin-bottom: 2px;
}

.box-3 a {
    font-size: 0.75rem;
    color: #333;
    text-decoration: none;
}
.box-3 .link {
    grid-column: span 2; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
}
.box-3 .discover {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
}

.discover:hover {
    color: black;
}



/*boxes row2*/
.products-2 {
    position: absolute; /* Ensures it's positioned above the background images */
    top: 20.3%; /* Adjust this to set the vertical position of the boxes */
    left: 0.1%; /* Adjust to position the boxes horizontally */
    right: 0.1%;
    width: auto; /* Makes the container take most of the viewport width */
    display: flex; /* For aligning multiple boxes in a row */
    justify-content: space-evenly; /* Distributes the boxes evenly */
    z-index: 2; /* Places the boxes above the background images */

}
.boxrow-2 {
    background-color: white; /* White background for the box */
    width: 30%; /* Each box takes up a third of the width in the row */
    height: 418px; /* Set the height of the box */
    padding: 20px; /* Adds inner spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxrow-2 h3 {
    margin-bottom: 8px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
}
/*box4*/
.box-4 {
    display: grid; /* Use grid for better layout control */
    grid-template-columns: repeat(2, 1fr); /* Two products per row */
    gap: 12px; /* Spacing between items */
    padding: 0 1px; /* Add padding to both left and right sides */
}
.box-4 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 18px;
}

.box-4 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 120px;
    object-fit: cover;
    margin-bottom: 2px;
}

.box-4 a {
    font-size: 0.75rem;
    color: #333;
    text-decoration: none;
}
.box-4 .link {
  grid-column: span 2; /* Make the link span all columns */
  display: flex;
  justify-content: left; /* Center the explore link */
}
.box-4 .see-all {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
}
.see-all:hover {
    color: black;
}
/*box5*/
.box-5 {
    display: grid; /* Use grid for better layout control */
    grid-template-columns: repeat(2, 1fr); /* Two products per row */
    gap: 12px; /* Spacing between items */
    padding: 0 1px; /* Add padding to both left and right sides */
}
.box-5 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 18px;
}

.box-5 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 120px;
    object-fit: cover;
    margin-bottom: 2px;
}

.box-5 a {
    font-size: 0.75rem;
    color: #333;
    text-decoration: none;
}
.box-5 .link {
  grid-column: span 2; /* Make the link span all columns */
  display: flex;
  justify-content: left; /* Center the explore link */
}
.box-5 .home {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap; /* Prevent the text from wrapping */
}
.home:hover {
    color: black;
}
/*box6*/
.box-6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 18px; /* Space between items */
}
.box-6 .item:nth-child(1) {
    grid-column: span 3; 
}
.box-6 .item:nth-child(1) img {
    width: 300px;
    height: 150px;
    object-fit: cover;
}
.box-6 div {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    text-align: left;
}
.box-6 img {
    max-width: 105%; /* Ensure images fit the container */
    height: 80px; /* Maintain height for images */
    object-fit: cover; /* Prevent image distortion */
    margin-bottom: 2px;
}
.box-6 a {
    font-size: 0.84rem;
    color: #333;
    text-decoration: none;
}
.box-6 .link {
    grid-column: span 3; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
    margin-top: 6px;
}
.box-6 .explore {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap; /* Prevent the text from wrapping */
}
.explore:hover {
    color: black;
}



/*boxes row3*/
.products-3 {
    position: absolute; /* Ensures it's positioned above the background images */
    top: 33.3%; /* Adjust this to set the vertical position of the boxes */
    left: 0.1%; /* Adjust to position the boxes horizontally */
    right: 0.1%;
    width: auto; /* Makes the container take most of the viewport width */
    display: flex; /* For aligning multiple boxes in a row */
    justify-content: space-evenly; /* Distributes the boxes evenly */
    z-index: 2; /* Places the boxes above the background images */

}

.boxrow-3 {
    background-color: white; /* White background for the box */
    width: 30%; /* Each box takes up a third of the width in the row */
    height: 418px; /* Set the height of the box */
    padding: 20px; /* Adds inner spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxrow-3 h3 {
    margin-bottom: 8px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
}
/*box7*/
.box-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}
.box-7 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 305px;
    object-fit: cover;
    margin-bottom: 18px;
}
.box-7 .link {
    grid-column: span 2; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
}
.box-7 .shop {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
    text-decoration: none;
}

.shop:hover {
    color: black;
}
/*box8*/
.box-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}
.box-8 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 305px;
    object-fit: cover;
    margin-bottom: 18px;
}
.box-8 .link {
    grid-column: span 2; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
}
.box-8 .shop {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
    text-decoration: none;
}

.shop:hover {
    color: black;
}
/*box3*/
.box-9 {
    display: grid; /* Use grid for better layout control */
    grid-template-columns: repeat(2, 1fr); /* Two products per row */
    gap: 12px; /* Spacing between items */
    padding: 0 1px; /* Add padding to both left and right sides */
}

.box-9 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 18px;
}

.box-9 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 120px;
    object-fit: cover;
    margin-bottom: 2px;
}

.box-9 a {
    font-size: 0.75rem;
    color: #333;
    text-decoration: none;
}
.box-9 .link {
    grid-column: span 2; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
}
.box-9 .see-more {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
}

.see-more:hover {
    color: black;
}

/*products slider1*/
.products-slider1 {
    background: #fff;
    padding: 15px 0;  /* Adjusted to create space at the top and bottom */
    position: absolute;
    top: 46.3%;
    left: 30px;
    right: 30px;
    z-index: 2;
    margin: auto;
    width: 94.7%;
    overflow: hidden;
}

.products-slider1 h3 {
    position: absolute;
    margin: 0;
    top: 15px; /* Adjusted top margin to avoid collision with images */
    left: 20px;
    font-size: 1.5rem;
    color: #333;
    z-index: 3;  /* Ensure h3 stays above the images */
}

.products-row1 {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    gap: 20px;  /* Space between images */
    overflow-x: auto;
    flex-wrap: nowrap;  /* Prevent images from wrapping to the next line */
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
    margin-top: 40px; /* Added margin to create space between header and images */
}
.products-row1::-webkit-scrollbar {
    height: 5px; /* Reserve space for the scrollbar */
    background-color: transparent; /* Transparent by default */
}

.products-row1:hover::-webkit-scrollbar {
    background-color: white;
}

.products-row1:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Dark color for the thumb */
    border-radius: 6px;
}

.products-row1::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
}

.products-row1 img {
    height: auto;    /* Maintain image aspect ratio */
    max-height: 200px;    /* Reduce the maximum height */
    object-fit: contain;  /* Ensure the image fits within the box */
    width: auto;     /* Allow image width to adjust while maintaining aspect ratio */
    margin-bottom: 10px;  /* Reduce bottom margin to minimize space */
}

.control-prev-products, .control-next-products {
    position: absolute;
    z-index: 3;
    width: 50px; /* Set the width of the rectangular box */
    height: 100px; /* Set the height of the rectangular box */
    display: flex;
    justify-content: center; /* Center the arrow horizontally */
    align-items: center; /* Center the arrow vertically */
    font-size: 25px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0; /* Initially hide the arrows */
    transition: opacity 0.3s ease; /* Smooth transition for arrows */
    border-radius: 6px; /* Optional: Rounded corners */
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Left button with transparent background */
.control-prev-products {
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    backdrop-filter: blur(1px); /* Adds a blur effect to make the background visible */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Optional: border for better visibility */
}

/* Right button with solid white background */
.control-next-products {
    right: 10px;
    background-color: #fff; /* Solid white background */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Optional: border for better visibility */
}

.products-slider1:hover .control-prev-products,
.products-slider1:hover .control-next-products {
    opacity: 1; /* Arrows become visible when the slider is hovered */
}

/* Arrow icon styling */
.control-prev-products i,
.control-next-products i {
    color: #0000007b; /* Arrow color */
}



/*boxes row4*/
.products-4 {
    position: absolute; /* Ensures it's positioned above the background images */
    top: 55.5%; /* Adjust this to set the vertical position of the boxes */
    left: 0.1%; /* Adjust to position the boxes horizontally */
    right: 0.1%;
    width: auto; /* Makes the container take most of the viewport width */
    display: flex; /* For aligning multiple boxes in a row */
    justify-content: space-evenly; /* Distributes the boxes evenly */
    z-index: 2; /* Places the boxes above the background images */

}

.boxrow-4 {
    background-color: white; /* White background for the box */
    width: 30%; /* Each box takes up a third of the width in the row */
    height: 418px; /* Set the height of the box */
    padding: 20px; /* Adds inner spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxrow-4 h3 {
    margin-bottom: 8px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
}
/*box10*/
.box-10 {
    display: grid; /* Use grid for better layout control */
    grid-template-columns: repeat(2, 1fr); /* Two products per row */
    gap: 12px; /* Spacing between items */
    padding: 0 1px; /* Add padding to both left and right sides */
}

.box-10 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 18px;
}

.box-10 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 120px;
    object-fit: cover;
    margin-bottom: 2px;
}

.box-10 a {
    font-size: 0.75rem;
    color: #333;
    text-decoration: none;
}
.box-10 .link {
    grid-column: span 2; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
}
.box-10 .see-more {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
}

.see-more:hover {
    color: black;
}
/*box11*/
.box-11 {
    display: grid; /* Use grid for better layout control */
    grid-template-columns: repeat(2, 1fr); /* Two products per row */
    gap: 12px; /* Spacing between items */
    padding: 0 1px; /* Add padding to both left and right sides */
}

.box-11 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 18px;
}

.box-11 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 120px;
    object-fit: cover;
    margin-bottom: 2px;
}

.box-11 a {
    font-size: 0.75rem;
    color: #333;
    text-decoration: none;
}
.box-11 .link {
    grid-column: span 2; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
}
.box-11 .discover {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
}

.discover:hover {
    color: black;
}
/*box12*/
.box-12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}
.box-12 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 305px;
    object-fit: cover;
    margin-bottom: 18px;
}
.box-12 .link {
    grid-column: span 2; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
}
.box-12 .shop-gaming {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
    text-decoration: none;
}

.shop-gaming:hover {
    color: black;
}


/*products slider2*/
.products-slider2 {
    background: #fff;
    padding: 15px 0;  /* Adjusted to create space at the top and bottom */
    position: absolute;
    top: 68.5%;
    left: 30px;
    right: 30px;
    z-index: 2;
    margin: auto;
    width: 94.7%;
    overflow: hidden;
}

.products-slider2 h3 {
    position: absolute;
    margin: 0;
    top: 15px; /* Adjusted top margin to avoid collision with images */
    left: 20px;
    font-size: 1.5rem;
    color: #333;
    z-index: 3;  /* Ensure h3 stays above the images */
}

.products-row2 {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    gap: 20px;  /* Space between images */
    overflow-x: auto;
    flex-wrap: nowrap;  /* Prevent images from wrapping to the next line */
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
    margin-top: 40px; /* Added margin to create space between header and images */
}
.products-row2::-webkit-scrollbar {
    height: 5px; /* Reserve space for the scrollbar */
    background-color: transparent; /* Transparent by default */
}

.products-row2:hover::-webkit-scrollbar {
    background-color: white;
}

.products-row2:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Dark color for the thumb */
    border-radius: 6px;
}

.products-row2::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
}

.products-row2 img {
    height: auto;    /* Maintain image aspect ratio */
    max-height: 200px;    /* Reduce the maximum height */
    object-fit: contain;  /* Ensure the image fits within the box */
    width: auto;     /* Allow image width to adjust while maintaining aspect ratio */
    margin-bottom: 10px;  /* Reduce bottom margin to minimize space */
}

.products-row2 .control-prev-products, .control-next-products {
    position: absolute;
    z-index: 3;
    width: 50px; /* Set the width of the rectangular box */
    height: 100px; /* Set the height of the rectangular box */
    display: flex;
    justify-content: center; /* Center the arrow horizontally */
    align-items: center; /* Center the arrow vertically */
    font-size: 25px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0; /* Initially hide the arrows */
    transition: opacity 0.3s ease; /* Smooth transition for arrows */
    border-radius: 6px; /* Optional: Rounded corners */
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Left button with transparent background */
.control-prev-products {
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    backdrop-filter: blur(1px); /* Adds a blur effect to make the background visible */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Optional: border for better visibility */
}

/* Right button with solid white background */
.control-next-products {
    right: 10px;
    background-color: #fff; /* Solid white background */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Optional: border for better visibility */
}

.products-slider2:hover .control-prev-products,
.products-slider2:hover .control-next-products {
    opacity: 1; /* Arrows become visible when the slider is hovered */
}

/* Arrow icon styling */
.control-prev-products i,
.control-next-products i {
    color: #0000007b; /* Arrow color */
}



/*boxes row5*/
.products-5 {
    position: absolute; /* Ensures it's positioned above the background images */
    top: 77.8%; /* Adjust this to set the vertical position of the boxes */
    left: 0.1%; /* Adjust to position the boxes horizontally */
    right: 0.1%;
    width: auto; /* Makes the container take most of the viewport width */
    display: flex; /* For aligning multiple boxes in a row */
    justify-content: space-evenly; /* Distributes the boxes evenly */
    z-index: 2; /* Places the boxes above the background images */

}

.boxrow-5 {
    background-color: white; /* White background for the box */
    width: 30%; /* Each box takes up a third of the width in the row */
    height: 418px; /* Set the height of the box */
    padding: 20px; /* Adds inner spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxrow-5h3 {
    margin-bottom: 8px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
}
/*box13*/
.box-13 {
    display: grid; /* Use grid for better layout control */
    grid-template-columns: repeat(2, 1fr); /* Two products per row */
    gap: 12px; /* Spacing between items */
    padding: 0 1px; /* Add padding to both left and right sides */
}

.box-13 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 18px;
}

.box-13 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 120px;
    object-fit: cover;
    margin-bottom: 2px;
}

.box-13 a {
    font-size: 0.75rem;
    color: #333;
    text-decoration: none;
}
.box-13 .link {
    grid-column: span 2; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
}
.box-13 .see-more {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
}

.see-more:hover {
    color: black;
}
/*box14*/
.box-14 {
    display: grid; /* Use grid for better layout control */
    grid-template-columns: repeat(2, 1fr); /* Two products per row */
    gap: 12px; /* Spacing between items */
    padding: 0 1px; /* Add padding to both left and right sides */
}

.box-14 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 18px;
}

.box-14 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 120px;
    object-fit: cover;
    margin-bottom: 2px;
}

.box-14 a {
    font-size: 0.75rem;
    color: #333;
    text-decoration: none;
}
.box-14 .link {
    grid-column: span 2; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
}
.box-14 .discover {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
}

.discover:hover {
    color: black;
}
/*box15*/
.box-15 {
    display: grid; /* Use grid for better layout control */
    grid-template-columns: repeat(2, 1fr); /* Two products per row */
    gap: 12px; /* Spacing between items */
    padding: 0 1px; /* Add padding to both left and right sides */
}

.box-15 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 18px;
}

.box-15 img {
    max-width: 100%; /* Adjust the size of the images */
    height: 120px;
    object-fit: cover;
    margin-bottom: 2px;
}

.box-15 a {
    font-size: 0.75rem;
    color: #333;
    text-decoration: none;
}
.box-15 .link {
    grid-column: span 2; /* Make the link span all columns */
    display: flex;
    justify-content: left; /* Center the explore link */
}
.box-15 .discover {
    font-size: 0.82rem;
    color: #2162a1;
    white-space: nowrap;
}

.discover:hover {
    color: black;
}

/*products slider3*/
.products-slider3 {
    background: #fff;
    padding: 15px 0;  /* Adjusted to create space at the top and bottom */
    position: absolute;
    top: 90.8%;
    left: 30px;
    right: 30px;
    z-index: 2;
    margin: auto;
    width: 94.7%;
    overflow: hidden;
}

.products-slider3 h3 {
    position: absolute;
    margin: 0;
    top: 15px; /* Adjusted top margin to avoid collision with images */
    left: 20px;
    font-size: 1.5rem;
    color: #333;
    z-index: 3;  /* Ensure h3 stays above the images */
}

.products-row3 {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    gap: 20px;  /* Space between images */
    overflow-x: auto;
    flex-wrap: nowrap;  /* Prevent images from wrapping to the next line */
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
    margin-top: 40px; /* Added margin to create space between header and images */
}
.products-row3::-webkit-scrollbar {
    height: 5px; /* Reserve space for the scrollbar */
    background-color: transparent; /* Transparent by default */
}

.products-row3:hover::-webkit-scrollbar {
    background-color: white;
}

.products-row3:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Dark color for the thumb */
    border-radius: 6px;
}

.products-row3::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
}

.products-row3 img {
    height: auto;    /* Maintain image aspect ratio */
    max-height: 200px;    /* Reduce the maximum height */
    object-fit: contain;  /* Ensure the image fits within the box */
    width: auto;     /* Allow image width to adjust while maintaining aspect ratio */
    margin-bottom: 10px;  /* Reduce bottom margin to minimize space */
}

.products-row3 .control-prev-products, .control-next-products {
    position: absolute;
    z-index: 3;
    width: 50px; /* Set the width of the rectangular box */
    height: 100px; /* Set the height of the rectangular box */
    display: flex;
    justify-content: center; /* Center the arrow horizontally */
    align-items: center; /* Center the arrow vertically */
    font-size: 25px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0; /* Initially hide the arrows */
    transition: opacity 0.3s ease; /* Smooth transition for arrows */
    border-radius: 6px; /* Optional: Rounded corners */
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Left button with transparent background */
.control-prev-products {
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    backdrop-filter: blur(1px); /* Adds a blur effect to make the background visible */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Optional: border for better visibility */
}

/* Right button with solid white background */
.control-next-products {
    right: 10px;
    background-color: #fff; /* Solid white background */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Optional: border for better visibility */
}

.products-slider3:hover .control-prev-products,
.products-slider3:hover .control-next-products {
    opacity: 1; /* Arrows become visible when the slider is hovered */
}

/* Arrow icon styling */
.control-prev-products i,
.control-next-products i {
    color: #0000007b; /* Arrow color */
}


.footer {
    width: 100%;
}
.backtop {
    text-align: center;
    height: 50px; /* Set the height of the clickable area */
    background-color: #37475a; /* Background color */
    display: flex; /* Center the content horizontally and vertically */
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Change cursor to pointer for clickable area */
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

.backtop a {
    color: #ffffff; /* White text color */
    text-decoration: none; /* Remove underline */
    font-size: 14px; /* Adjust font size */
}

.backtop:hover {
    background-color: #485769; /* Slightly lighter background on hover */
}
.detail {
    background-color: #232f3e;
    padding-top: 30px; /* Reduce padding to save space */
    padding-bottom: 0; /* Remove unnecessary bottom padding */
}

.table {
    margin: 0 90px;
    height: 350px;
    display: flex;
    justify-content: space-between;
}

.table div {
    width: 250px;
    text-align: left;
}

.t-head {
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.table li {
    padding-top: 10px;
    list-style: none;
}

.table li a {
    color: rgb(223, 221, 221);
    font-weight: lighter;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 300px; /* Reduce padding to bring the line closer */
    background-color: #232f3e;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.amazon-logo {
    height: 50px;
    margin-right: 10px; /* Adjust spacing between the logo and buttons */
}

.options {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.btn {
    background-color: #232f3e;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 6px 10px; /* Reduce padding for a compact button size */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.icon-globe::before {
    content: "\1F310"; /* Unicode for globe emoji 🌐 */
    font-size: 14px; /* Adjust globe size */
    margin-right: 2px; /* Space between globe and text */
}

.icon-caret::after {
    content: "▼"; /* Unicode for caret down */
    font-size: 12px; /* Adjust caret size */
    margin-left: 10px; /* Space between text and caret */
}
.location {
    gap: 5px; /* Space between flag and text */
}

.icon-flag::before {
    content: ""; /* Placeholder for flag */
    display: inline-block;
    background-size: cover; /* Ensure flag fits the dimensions */
    margin-right: 5px; /* Space between flag and text */
}

